body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#79d1ff;
    font-family: Arial, sans-serif;
}

.container {
    background-color:white;
    color: black;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.conteudo {
    padding-top: 10px;
    padding-left: 20px;
}

input {
    height: 30px;
    width: 310px;
    border-radius: 10px;
    background-color: aliceblue;
}

button {
    background-color: rgb(25, 157, 209);
    border-radius: 10px;
    height: 35px;
    color: white;
}

/* Estilos para as mensagens */
#messages {
    list-style: none;
    padding: 0;
    max-height: 300px;
    text-align: left;
    overflow-y: auto; /* Permite rolagem se houver muitas mensagens */
}